node_modules
dist
coverage
.vite
.cache
.eslintcache
.DS_Store
.idea
.vscode
.vs
.history
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tsbuildinfo
